.buttons{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.buttons>div{
    margin: 0px 20px;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.focus{
    background-color: #e1e4ea;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
}