*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 50px;
  background-color: #f4f5f9;
  color: #636363;
}

.main{
  display: flex;
  gap: 23px
}

.notification-panel{
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}